In [5]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [6]:
# Store the CSV you saved in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-06-12 02:48:02,-53.1500,-70.9167,42.91,87,75,6.91
1,1,Busselton,AU,2022-06-12 02:48:03,-33.6500,115.3333,63.64,80,69,28.39
2,2,Cape Town,ZA,2022-06-12 02:48:03,-33.9258,18.4232,63.12,71,0,8.99
3,3,Taoudenni,ML,2022-06-12 02:48:03,22.6783,-3.9836,96.62,13,89,17.69
4,4,Albany,US,2022-06-12 02:45:14,42.6001,-73.9662,62.06,78,59,2.71

In [7]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [15]:
# Assign the locations to an array of latitudes and longitude pairs
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature
max_temp = city_data_df['Max Temp']

# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Bengkulu,ID,2022-06-12 02:48:04,-3.8004,102.2655,80.04,74,87,11.32
6,6,Hithadhoo,MV,2022-06-12 02:48:05,-0.6000,73.0833,83.86,72,100,12.06
14,14,Vaini,TO,2022-06-12 02:48:08,-21.2000,-175.2000,82.56,78,40,9.22
16,16,Bogo,PH,2022-06-12 02:48:09,11.0517,124.0055,88.25,62,80,3.65
19,19,Harper,LR,2022-06-12 02:48:10,4.3750,-7.7169,77.45,84,100,6.35
22,22,Fomboni,KM,2022-06-12 02:48:12,-12.2800,43.7425,79.86,64,4,17.63
25,25,Dingle,PH,2022-06-12 02:48:14,10.9995,122.6711,87.42,63,31,4.61
26,26,Avarua,CK,2022-06-12 02:48:14,-21.2078,-159.7750,78.85,65,40,16.11
32,32,Georgetown,MY,2022-06-12 02:44:55,5.4112,100.3354,84.13,87,20,5.75
33,33,Tessalit,ML,2022-06-12 02:48:17,20.1986,1.0114,86.38,34,100,7.45

In [21]:
# Checking if there are any null values
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
5    Bengkulu      ID     80.04  -3.8004  102.2655
6   Hithadhoo      MV     83.86  -0.6000   73.0833
14      Vaini      TO     82.56 -21.2000 -175.2000
16       Bogo      PH     88.25  11.0517  124.0055
19     Harper      LR     77.45   4.3750   -7.7169

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Bengkulu,ID,80.04,-3.8004,102.2655,Grage Hotel Bengkulu
6,Hithadhoo,MV,83.86,-0.6000,73.0833,Scoop Guest House
14,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
16,Bogo,PH,88.25,11.0517,124.0055,Acrige Apartelle
19,Harper,LR,77.45,4.3750,-7.7169,Screensaver
22,Fomboni,KM,79.86,-12.2800,43.7425,Auberge les abou
25,Dingle,PH,87.42,10.9995,122.6711,SEGAYA PROPERTY
26,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
32,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
33,Tessalit,ML,86.38,20.1986,1.0114,
37,Neiafu,TO,81.28,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
38,Butaritari,KI,82.29,3.0707,172.7902,Isles Sunset Lodge
47,Cabo San Lucas,MX,86.61,22.8909,-109.9124,Vista Roof Restaurant
48,Kloulklubed,PW,82.90,7.0419,134.2556,Storyboard Beach Resort
52,Duku,NG,78.87,11.2361,4.9073,
53,Naze,JP,79.72,28.3667,129.4833,Shishime Hotel
56,Touros,BR,75.96,-5.1989,-35.4608,INN NEW HORIZON
57,Nizhneudinsk,RU,77.29,54.9076,99.0276,Gostinitsa Magistral'
58,Kutum,SD,75.15,14.2000,24.6667,Dibbo areaمنطقة دبو
62,Faanui,PF,79.83,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))